
<div *ngIf="bs.Form.RelatedFormName!=''">
    <label>{{bs.Form.RelatedFormName}}</label>
    <select  [name]="selector"
    (change)="recordSelectorChanged()"
    [(ngModel)]="ItemId" >
    <option *ngFor="let item of bs.Form.RRows" [value]="item[0].Value">{{item[1].Value}}</option> 
    </select>
</div>
<form (ngSubmit)="onSubmit(f2)" #f2="ngForm" >
<h4>{{bs.Form.Title}}</h4>
<br/>
<div >
    <div >
        <div >
            <app-field *ngFor="let fUI of bs.Form.UI" 
            [fUI]="fUI" 
            [f]="bs.Form.GetField(fUI.IdField)" 
            [DTOField] = "bs.Form.GetDTOField(fUI.Id)"
            ></app-field>
        </div>
    </div>
</div>
<button [disabled]="!f2.valid" type="submit">Submit</button>
<button type="reset">Reset</button>
<button class="btn btn-primary"  type="button">Cancel</button>
</form>
