<div>
    <label *ngIf="fUI.Label!=''">{{fUI.Label}}</label>
    <input *ngIf="fUI.HtmlType=='input'" [name]="f.Name"  [id] = "f.Name"
        [type]="fUI.HtmlType"
        [placeholder]="fUI.placeholder" 
        [required]="f.Required" 
        (change)="onChange()"
        (focusout)="onFocusOut()"
        [(ngModel)]="DTOField.Value">

    <select *ngIf="fUI.HtmlType=='select'" [name]="f.Name"
            (change)="onSelectedItemChanged()"
            [(ngModel)]="DTOField.Value" >
           <option *ngFor="let item of fUI.List" [value]="item.Id">{{item.Value}}</option> 
        </select>

    <img *ngIf="fUI.HtmlType=='img'" [name]="f.Name"
        [src]="bs.ImageList[bs.Form.Fields[fUI.ImageFieldID]]" >

        <img *ngIf="fUI.HtmlType=='img'" [name]="f.Name"
        [src]="fUI.ImageSource" >

    </div>
